@import './../../../global-styles.scss';

.dashboard {
    background-color: $primary-color;
    max-width: 100%;
    min-height: calc(100vh - #{$navbar-height});
    margin: 0 auto; 
    overflow-x: hidden;

    @include xl {
        width: 90%;
    }

    .dashboard-nav {
        height: 80px;
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
}