@import './../../../../global-styles.scss';

.task-admin-card {
    border-left: 20px solid #CAC531;
    opacity: 1;
    position: relative;

    .task-title {
        font-size: 3em;
        line-height: 30px;
    }
    .task-card-frequency {
        font-size: 1.6em;
    }
    .task-points {
        font-size: 3em;
        margin-right: 1em;
    }
}
.task-admin-card:hover {
    background: #fff;
    color: #000;
    cursor: auto;
}
.task-card-delete-btn {
        position: absolute;
        top: 0.9em;
        right: 0.6em;
        background: none;
        border: none;
        font-size: 1.6em;
        cursor: pointer;
}
.task-popup {

    .delete-task-title {
        font-size: 2.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        text-align: center;
        line-height: 30px;

    }
    .delete-task-buttons {
        font-size: 2.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;

        button {
            margin: 20px;
            border-radius: 30px;
            padding: 8px 20px;
            cursor: pointer;
            font-weight: 400;
            letter-spacing: 1px;
            font-size: 0.9em;
            background: $primary-color;
            color: $text-color;
            border: none;
        }
        .delete-task-btn {
            background: #c40b13;
            color: #fff;
        }
        .delete-task-back {
            background: $secondary-color;
            color: #fff;
        }
    }
}