@import './../../../../global-styles.scss';

.post-card, .post-task-card, .post-won-task-card {
    margin: 20px;
    margin-top: 3em;
    padding: 1.3em;
    border-radius: 30px;
    box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.2);

    position: relative;
    .post-owner {
        height: auto;
        display: flex;
        align-items: center;
        img {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.2);

        }
        .post-card-owner-info {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            .post-card-owner {
                text-align: left;
                font-size: 1.2em;
                font-weight: 400;
    
            }
            .post-card-date {
                font-size: 0.8em;
                color: lighten($text-color, 30%);
                align-self: flex-start;
            }
        }
    }
    .post-content {
        min-height: 100px;

        .post-card-text {
            text-align: left;
            width: 90%;
            padding: 1em;
            font-size: 1.7em;
            line-height: 30px;
        }
    }
    .post-bottom-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .post-reactions {
            display: flex;
            .reaction {
                margin-left: 14px;
                img {
                    height: 24px;
                    width: 24px;
                    cursor: pointer;
                }
                .reaction-active {
                    opacity: 1;
                }
                .reaction-inactive {
                    opacity: 0.4;
                }
                .reaction-counter {
                    color: lighten($text-color, 20%);
                    margin-left: 3px;
                    font-size: 1.1em;
                }
                
            }
        }
    }

    .post-card-more-btn {
        color: $text-color;
        position: absolute;
        top: 1.8em;
        right: 1.3em;
        img {
            height: 20px;
            width: 20px;
            opacity: 0.7;
        }
    }

    .comments-con {
        border-top: 1px solid lighten($text-color, 50%);
        margin-top: 2em;

        .add-comment-con {
            margin-top: 2em;

            .add-comment-btn {
                background: #1D976C;
                margin: 1em 0;
                border-radius: 30px;
            }
        }
        
        .comments {
            display: flex;
            flex-direction: column;
            align-items: center;
            ul {
                list-style-type: none;
            }
            .comment-card {
                margin: 0.7em 0;
                position: relative;
                .comment-profile {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    .comment-profile-pic {
                        height: 28px;
                        width: 28px;
                        border-radius: 50%;
                    }
                    .comment-profile-login {
                        margin: 0 10px;
                        font-size: 1.1em;
                    }
                    .comment-profile-date {
                        color: lighten($text-color, 20%);
                        font-size: 0.9em;
                    }
                }
                .comment-content {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 30px;
                    span {
                        font-size: 1.2em;
                    }
                }
                .comment-nav {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    img {
                        height: 20px;
                        width: auto;
                    }
                }
            }
        }
    }
    
    p {
        margin: 0;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
    .dropdown-content {
        border-radius: 30px;
    }
    .dropdown-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dropdown-delete {
        color: #e41749;
    }
}

.post-card {
    background-color: $primary-color-light;

    .show-comments-btn {
        background-color: $primary-color-light;
        color: $secondary-color;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    }
}

.post-task-card {
    
    background-color: #fff;
    border: 3px solid #CAC531;
    
    .post-task-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2em;
        padding: 16px 8px;
        .post-task-points {

        }

        .post-task-text {

        }
    }
    .add-comment-input::placeholder {
        color: $text-color;
    }

    .show-comments-btn {
        background-color: transparent;
        color: $text-color;
        border: none;
        text-decoration: underline;
        cursor: pointer;
    }


}

.post-won-task-card {
    background: #CAC531;
    background: -webkit-linear-gradient(to right, #CAC531, #F3F9A7);
    background: linear-gradient(to right, #CAC531, #F3F9A7);
    
    .show-comments-btn {
        display: none;
    }
    .post-card-more-btn {
        display: none;
    }
}