@import './../../../global-styles.scss';

.navbar {
    background-color: $primary-color;
    width: 100%;
    height: $navbar-height;
    font-weight: 300;
    z-index: 4;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-mobile {
        margin: 0 0 0 1em;
        display: flex;
        align-items: center;
    }
    .logo-desktop {
        margin-left: 1em;
        color: $secondary-color;
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none;
        position: relative;
        display: none;
        outline-color: none;
    }
    .logo-desktop.active {
        background-color: none;
    }
    .logo-desktop::after {
        content: url('./../../../assets/logo.png');
        position: absolute;
        top: -10px;
        left: 80px;
    }
    @include md {
        .logo-mobile {
            display: none;
        }
        .logo-desktop {
            display: block;
        }
    }
    .hamburger {
        margin-right: 1em;
        @include md {
            display: none;
        }

    }

}