@import './../../../global-styles.scss';

.new-habit {
    max-width: 100%;
    min-height: calc(100vh - #{$navbar-height});
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .new-habit-form {
        background-color: $primary-color;
        width: 500px;
        max-width: 86%;
        height: auto;
        max-height: 90%;
        border: none;
        border-radius: 30px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        background-color: $primary-color-light;
        padding: 30px;
        box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.2);        
        

        .new-habit-title {
            font-size: 1.4em;
            margin: 1em 0;
            font-weight: 300;
            color: $text-color; 
            @include xl {
                font-size: 2em;
            }
        }
        
        .new-habit-title-input {
            background-color: $primary-color-light;            
            height: 40px;
            margin: 0.6em 0;
            border: none;
            border-bottom: 1px solid lighten($text-color, 50%);
            color: $text-color;
            font-family: 'Nunito', sans-serif;          
            font-size: 1.6em;
            font-weight: 300;   
            letter-spacing: 2px;      
            caret-color: lighten($text-color, 50%);
            outline: 0;

            @include md {
                font-size: 1.6em;
                height: 40px;
            }
        }
        .new-habit-title-input::placeholder {
            color: $text-color;
            opacity: 0.6;
          }
        .new-habit-categories-title{
            margin: 0;
            font-size: 0.8em;
            font-weight: 400;
            color: $text-color;
            opacity: 0.8;
        }
        .new-habit-categories {
            margin: 1em 0;
            display: flex;
            flex-wrap: wrap;
            .new-habit-category {
                background-color: #fff;
                width: 42px;
                height: 42px;
                margin: 1em 0.8em;
                color: $text-color;
                font-family: 'Nunito', sans-serif;         
                border: 2px solid $secondary-color;
                border-radius: 50%;
                font-weight: 400;
                letter-spacing: 2px;
                cursor: pointer;
                outline: 0; 
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .new-habit-category:hover {
                box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);                
            }
            .none {
                border: 2px solid $none-color;
                color: $none-color;
            }
            .diet {
                border: 2px solid $diet-color;
                color: $diet-color;
            }
            .health {
                border: 2px solid $health-color;
                color: $health-color;
            }
            .study {
                border: 2px solid $study-color;
                color: $study-color;
            }
            .work {
                border: 2px solid $work-color;
                color: $work-color;
            }
            .sport {
                border: 2px solid $sport-color;
                color: $sport-color;
            }
            .social {
                border: 2px solid $social-color;
                color: $social-color;
            }
            .money {
                border: 2px solid $money-color;
                color: $money-color;
            }
            .family {
                border: 2px solid $family-color;
                color: $family-color;
            }
            @mixin style-text-under-category-icon() {
                position: absolute;
                margin-top: 32px;
                color: $text-color;
                font-size: 0.9em;
                opacity: 0.7;
            }
               .none::after {
                   content: 'none';
                   @include style-text-under-category-icon();
               } 
               .diet::after {
                   content: 'diet';
                   @include style-text-under-category-icon();
               } 
               .health::after {
                   content: 'health';
                   @include style-text-under-category-icon();
               } 
               .study::after {
                   content: 'study';
                   @include style-text-under-category-icon();
               } 
               .work::after {
                   content: 'work';
                   @include style-text-under-category-icon();
               } 
               .sport::after {
                   content: 'sport';
                   @include style-text-under-category-icon();
               } 
               .social::after {
                   content: 'social';
                   @include style-text-under-category-icon();
               } 
               .money::after {
                   content: 'money';
                   @include style-text-under-category-icon();
               } 
               .family::after {
                   content: 'family';
                   @include style-text-under-category-icon();
               } 
            
            .none-chosen {
                background-color: $none-color;
                color: #fff;
            }
            .health-chosen {
                background-color: $health-color;
                color: #fff;
            }
            .diet-chosen {
                background-color: $diet-color;
                color: #fff;
            }
            .study-chosen {
                background-color: $study-color;
                color: #fff;
            }
            .work-chosen {
                background-color: $work-color;
                color: #fff;
            }
            .sport-chosen {
                background-color: $sport-color;
                color: #fff;
            }
            .social-chosen {
                background-color: $social-color;
                color: #fff;
            }
            .money-chosen {
                background-color: $money-color;
                color: #fff;
            }
            .family-chosen {
                background-color: $family-color;
                color: #fff;
            }
        }
        .privacy-con {
            margin-top: 1.2em;
            display: flex;
            .privacy-btn {
                background-color: $primary-color-light;
                height: 30px;
                width: auto;
                margin: 0 0.4em;
                padding: 0 1em;
                color: #7189bf;
                font-size: 0.7em;
                font-family: 'Nunito', sans-serif;
                letter-spacing: 1px; 
                font-weight: 600;               
                border: 2px solid #7189bf;
                border-radius: 30px;
                outline: 0;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    margin-right: 6px;
                }
            }

            .privacy-chosen {
                background-color: #7189bf;
                color: $primary-color-light;
            }
        }
        .new-habit-submit-btn {
            align-self: center;
            background-color: $secondary-color;
            height: 46px;
            width: 160px;
            margin-top: 50px;
            color: #fff;
            font-family: 'Nunito', sans-serif;          
            font-size: 1em;
            font-weight: 400;
            letter-spacing: 1px;
            border: none;
            border-radius: 30px;
            outline: 0;
            cursor: pointer;
        }
        .new-habit-submit-btn:hover {
            box-shadow: 2px 2px 10px 0px rgba(51,51,51,0.3);                
        }
        .error-msg {
            align-self: center;
            margin-top: 6px;
            color: $error-color;
            font-size: 0.7em;
            
        }
    }
}
.new-habit::after{
    content: url(./../../../assets/leaf-bg.png);
    position: absolute;
    bottom: 50px;
    right: -200px;
    overflow: hidden;
    display: none;

    @include lg {
        display: block;
    }
}
.new-habit::before{
    content: url(./../../../assets/leaf-bg.png);
    position: absolute;
    bottom: -220px;
    right: 0;
    transform: rotate(-40deg);
    display: none;

    @include lg {
        display: block;
    }
}