@import './../../../../global-styles.scss';

.members-section {
    width: 100%;
    max-height: calc(100vh - 210px);
    overflow-y: auto;

    @include md {
        padding: 2em;
    }

    .collection {
        border: none;
        .collection-item {
            background-color: $primary-color;
            margin: 1em;
            line-height: 1.5em;
            display: flex;
            align-items: center;
            flex-direction: row;
            
            img { 
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
            .member-login {
                font-size: 2em;
                margin-left: 1em;
            }
        }
    }
    .show-more-btn-con {
        width: 100%;
        display: flex;
        justify-content: center;  
        
        .show-more-btn {
            background-color: #7d7d7d;
            border-radius: 30px;
            font-weight: 600;
        }
    }
}